/*
 * Copyright (c) 2017 Linaro Limited
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/f1/stm32f103X8.dtsi>

/ {
	model = "STMicroelectronics STM32F103RB-NUCLEO board";
	compatible = "st,stm32f103rb-nucleo", "st,stm32f103rb";

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	leds {
		compatible = "gpio-leds";
		green_led_2: led_2 {
			// gpios = <&gpioa 1 GPIO_ACTIVE_HIGH>;
                        gpios = <&gpioa 1 GPIO_ACTIVE_HIGH>;
			label = "User LD2";
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		user_button: button {
			label = "User";
			gpios = <&gpioc 13 GPIO_ACTIVE_LOW>;
		};
	};

        pwmleds {
            compatible = "pwm-leds";
            red_pwm_led: red_pwm_led {
                  pwms = <&{/soc/timers@40000000/pwm} 2 4>;
              };
        };
	aliases {
		led0 = &green_led_2;
		sw0 = &user_button;
                pwm-led0 = &red_pwm_led;
	};
};

&usart1 {
      current-speed = <115200>;
      status = "okay";
};

&usart2 {
      current-speed = <115200>;
      status = "okay";
};

&spi1 {
	status = "okay";
};

&spi2 {
	status = "okay";
};

&timers1 {
	status = "okay";

	pwm {
            status = "okay";
	};
};
&timers2 {
        status = "okay";

        pwm {
            status = "okay";
            st,prescaler = <71>;
        };
};

&iwdg {
	status = "okay";
};

&adc1 {
	status = "okay";
};
